
.Content {
    background-color: grey;
    display: flex;
    flex-wrap:wrap;
    gap: 20px ;
      }
  .ContentList {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
  }
   
  .ShowCard img {
    width: 300px;
    height: 300px;
  }
  h2 {
    color: whitesmoke;
    margin-top: 10px;
  }
  p {
    color: whitesmoke;
    margin-top: 5px;
  } */
  
  .ShowCard {
    color: white;
    border: 1px solid #8F7F7F;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
  
  
  }
  
  .ShowCard h2{
    display:show;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  