/* Reset default margin and padding */
body, h1, h2, p, button, input {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Set a background color */
body {
  background-color: #222;
}

/* Header styles */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-size: 50px;
  align-content: center;
  background-color: #007bff;
  font-family: 'Times New Roman', Times, serif;
}

header input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
}

header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Main content */
main {
  padding: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

/* ShowPreview styles */
.show-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  align-items: center;
}

.show-preview img {
  max-width: 100px;
  margin-right: 15px;
  border-radius: 5px;
}

.show-details {
  flex-grow: 1;
}

.show-title {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 5px;
}

.show-description {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
  content: show;
}

/* Favorite button style */
.favorite-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
}

.favorite-button:hover {
  color: #ff5733; /* Futuristic accent color */
}

/* EpisdePreview styles */
.episode-preview {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
}

/* AudioPlayer styles */
.audio-player {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.audio-player button {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
}

.audio-player button:hover {
  color: #ff5733; /* Futuristic accent color */
}

/* ShowList styles */
.show-list {
  margin-top: 10px;
  
}


